main {
	min-height: calc(100vh - (90px + 64px));
}

.mainNav {
	li:not(:last-child) a {
		&:after {
			content: '\25BA';
			margin-left: 2rem;
		}
	}
	.brand-logo {
		position: static !important;
	}
	&__breadcrumb {
		display: inline-block;
	}
}