main {
	min-height: calc(100vh - (90px + 64px));
}

.mainNav {
	.nav-wrapper {
		display: flex;
		padding: 0 1rem;
		.right {
			margin-left: auto;
		}
	}
	li a {
		&:before {
			content: '\25BA';
			margin-right: 2rem;
		}
	}
	.brand-logo {
		position: static !important;
		margin-right: 1rem;
	}
	&__breadcrumb {
		display: inline-block;
	}
}

.logout {
	cursor: default;
}