.chat {
    color: black;
    &.hidden {
        .chat__message {
            transition: all .25s;
            opacity: 0 !important;
            height: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
            border: 0 !important;
            &:last-child {
                position: absolute;
            }
        }
    }
    &__message {
        transition: all .25s;
    }
    .chat_is_demo {
        font-family: monospace;
        font-size: 8pt;
        color: gray;
        text-transform: uppercase;
    }
}
