.resourcesView {
	.collection-item {
		&:hover {
			text-decoration: underline;
		}
		position: relative;
		.fixed-action-btn {
			position: absolute !important;
			top: 3px !important;
		}
		.fab-small {
			right: 35px !important;
			li {
				margin-top: 0;
			}
		}
	}
}