@import 'components/BoardCard/BoardCard.scss';
@import 'components/BoardCardEditable/BoardCardEditable.scss';
@import 'components/BoardView/BoardView.scss';
@import 'components/ChatCard/ChatCard.scss';
@import 'components/CollectionCard/CollectionCard.scss';
@import 'components/CollectionCardEditable/CollectionCardEditable.scss';
@import 'components/CollectionView/CollectionView.scss';
@import 'components/HomeView/HomeView.scss';
@import 'components/MainLayout/MainLayout.scss';
@import 'components/ResourceCard/ResourceCard.scss';
@import 'components/ResourceCardEditable/ResourceCardEditable.scss';

.home, .collectionRow {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 0 auto;
}

.card {
    &__editCont {
        margin: -2rem -2rem 0 0;
        padding: 2rem;
    }
}

h1.title {
	width: 100%;
	margin-bottom: 0;
}
