@import 'components/BoardCard/BoardCard.scss';
@import 'components/CollectionCard/CollectionCard.scss';
@import 'components/ChatCard/ChatCard.scss';

.home, .collectionRow {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 0 auto;
}

.card {
    &__editCont {
        margin: -2rem -2rem 0 0;
        padding: 2rem;
    }
}